.d-none {
    display: none;
}

button {
    background-color: rgba(99, 180, 33, 0.932);
    color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    position: relative;
    left: 42%;
    margin-bottom: 5%;
}

.my-wd {
    width: 40%;

}

h1, h2 {
    margin-top: 30px;
    color: rgba(99, 180, 33, 0.932);
    text-align: center;
    font-size: 50px;
}

h2{
    margin-top: 10%;
}

.my-img {
    position: relative;
    left: 42%;
}

.thirdButton{
    display: flex;
}

.my-d-flex{
display: flex;
margin-right: 15%;
gap: 30px;
}